body {
    background-color: black;
	text-align: center;
	color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	margin: 100px auto;
	border: 1px solid rgba(198, 195, 195, 0.639);
}

.cell {
    
    padding: 8px;
    border: 1px solid;
	width: 40px;
	height: 40px;
	font-size: 1.5em;
    color: aliceblue;
}
.cell:hover{
    color: gold;
}

.revealed{
    background-color: bisque;
    color: black;
}
.light-mode{
    background-color: rgb(173, 164, 164);
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}